<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: movie.title }) %>

<body>
    <%- include('partials/header') %>

    <div class="card">
        <div class="card-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/movies">Películas</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><%= movie.title %></li>
                </ol>
            </nav>
        </div>
        <div class="card-body">

            <h1><%= movie.title %> </h1>    
            <br>
            <p>RATING: <%= movie.rating %> </p>
            <p>PREMIOS: <%= movie.awards %> </p>
            <p>DURACIÓN: <%= (movie.length != null) ? (movie.length + " min") : "Sin datos" %></p>
            <p>GÉNERO: <%= movie.genre?.name || "Sin clasificar" %></p>
            <p>FECHA DE ESTRENO: <%= movie.release_date %> </p>
            <br>
            <section>
                <!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->
            <a href="/movies/edit/<%= movie.id %>" class="btn btn-primary btn-sm">Editar película</a>
            <a href="/movies/delete/<%= movie.id %>" class="btn btn-danger btn-sm">Eliminar película</a>
            <a href="/movies" class="btn btn-dark btn-sm ">Listado de Películas</a>
            </section>
        </div>
    </div>

</body>

</html>