<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: movie.title }) %>


<body>
    <%- include('partials/header') %>

    <div class="card">
        <div class="card-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/movies">Películas</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><%= movie.title %></li>
                </ol>
            </nav>
        </div>
        <div class="card-body">

            <h1><%= movie.title %> </h1>    
            <br>
            <p>RATING: <%= movie.rating %> </p>
            <p>AWARDS: <%= movie.awards %> </p>
            <p>LENGTH: <%= movie.length + ' min'%> </p>
            <p>RELEASE DATE: <%= movie.release_date %> </p>
            <br>
            <section>
                <!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->
            </section>
        </div>
    </div>

</body>

</html>