<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Edición de película' }) %>


<body>
    <%- include('partials/header') %>

        <h1 class="titulo">Película Editada: <%= Movie.title %>
        </h1>

        <div class="card">
            <div class="card-body">
                <form class="row g-3" action="/movies/update/<%= Movie.id %>" method="POST">
                    <div class="col-md-6">
                        <label for="title" class="form-label">Título 🎬</label>
                        <input type="text" class="form-control" name="title" id="title" value="<%= Movie.title %>">
                    </div>
                    <div class="col-md-6">
                        <label for="rating" class="form-label">Rating ⭐⭐⭐</label>
                        <input type="number" class="form-control" name="rating" id="rating" value="<%= Movie.rating %>">
                    </div>
                    <div class="col-md-6">
                        <label for="awards" class="form-label">Premios 🥇</label>
                        <input type="number" class="form-control" name="awards" id="awards" value="<%= Movie.awards %>">
                    </div>
                    <div class="col-md-6">
                        <label for="release_date" class="form-label">Fecha de estreno 📅</label>
                        <input type="date" class="form-control" name="release_date" id="release_date"
                            value="<%= Movie.release_date %>">
                    </div>
                    <div class="col-md-6">
                        <label for="length" class="form-label">Duración ⏳</label>
                        <input type="number" class="form-control" name="length" id="length" value="<%= Movie.length %>">
                    </div>
                    <div class="col-md-6">
                        <label for="genre_id" class="form-label">Género 🎭</label>
                        <select name="genre_id" id="genre_id" name="genre_id" class="form-select">
                            <option value="" hidden selected>Selecciona género</option>
                            <% genres.forEach(genre=> { %>
                                <option value="<%= genre.id %>">
                                    <%= genre.name %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <div class="col-12 d-md-none">
                        <button type="submit" class="btn btn-dark w-100">Actualizar</button>
                    </div>
                    <div class="col-md-12 d-none d-md-flex justify-content-end">
                        <button type="submit" class="btn btn-dark">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
</body>

</html>